@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500; /* Optional: Set the weight to match */
    font-style: normal; /* Optional: Adjust based on the font's style */
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600; /* Optional: Set the weight to match */
    font-style: normal; /* Optional: Adjust based on the font's style */
}


body {
    background-color: #000!important;
    color: #000!important;
}
body * {
    font-family: 'Montserrat', sans-serif;
}
.c-main-container {
    padding-top: 0px;
    padding-bottom: 80px;
}
.c-main-container .sidebar-new {
    background-color: rgba(106, 194, 89, 0.7);
    color: #000!important;
    padding: 35px 30px 30px 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}

.c-main-container .sidebar-white {
    background-color: #ffffff;
    color: #000!important;
}


.navbar.navbar-expand-lg {
    background-color: rgba(0,0,0,0.7)!important;
    color: #fff!important;
    padding-top: 45px;
    padding-bottom: 45px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #000;
    margin-bottom: 0!important;
}

.primary-btn{
    background-color: #000;
    border: 2px solid #000;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 5px;
}

.primary-btn:not(.selected-primary-btn):hover{
    background-color: #2a3037;
}

.selected-primary-btn{
    background-color: rgba(106, 194, 89, 0.7);
    border: none;
}

.c-main-container .sidebar-new form select, #meeting_date, #meeting_time {
    height: 45px;
    line-height: 45px;
    background-color: #ececec;
    color: #000;
    padding-top: 0;
    padding-bottom: 0;
}

.messenger-img{
    width: 20px;
    height: 20px;
}

footer.custom-footer {
    padding-top: 35px!important;
    padding-bottom: 35px!important;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
    background-color: #000!important;
}
footer h5 {
    text-align: left;
}
footer .col-md-4 {
    text-align: left;
}
#address_from,#address_to {
    height: 60px;
    line-height: 60px;
    background-color: #ececec;
    color: #000;
}
.collapse.show{
    visibility: visible;
}
.navbar .container {
    position: relative;
}
.main-logo {
    width: 100%;
    max-width: 320px;
}
.navbar .container .main-logo {
    position: absolute;
    top: -66px;
}
.faq-accordion-holder .accordion-item:first-of-type>.accordion-header .accordion-button {
    color: #000!important;
    border-radius: 0!important;
}
.faq-accordion-holder .accordion-item {
    box-shadow: 0 0 8px 2px rgb(170 170 170 / 33%);
    margin-bottom: 20px;
    border-radius: 0 !important;
}
.faq-accordion-holder .accordion-item button {
    font-size: 23px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.faq-accordion-holder .accordion-item button img {
    margin-right: 25px;
    width: 165px;
    box-shadow: 2px 2px 1px black;
    height: 100px;
}
.faq-accordion-holder .accordion-body {
    font-size: 20px;
    padding: 25px 20px;
}
.faq-accordion-holder .accordion-item:last-child button img {
/*    margin-left: 15px;
    margin-right: 30px;*/
}
.home-vid-back-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(0,0,0, 0.258),rgba(0,0,0, 0.258));
    margin-bottom: 100px;
    position: absolute;
    overflow: hidden;
    min-height: 980px;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
}
.main-attractions-header {
    color: #000;
}
.home-vid-back {
    position: absolute;
    overflow: hidden;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.under-nav {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-top: 2px solid rgba(106, 194, 89, 0.7) !important;
    border-bottom: 2px solid rgba(106, 194, 89, 0.7) !important;
}
.under-nav .col-lg-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.un-icon {
    max-height: 75px;
    box-shadow: 2px 2px 1px black;
    border-radius: 0px;
}
.un-point {
    color: #000;
    padding-left: 15px;
    font-size: 14px;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);*/
}
.navbar-nav .nav-item img {
    max-width: 15px;
    height: auto;
}
.navbar li.nav-item {
    display: flex;
    align-items: flex-start;
    padding: 0 20px 0 0;
    flex-direction: column;
    justify-content: flex-start;
}
.navbar a {
    color: #fff!important;
}
.special-text-under-phone {
    font-size: 12px;
    display: block;
    width: 100%;
}
.nav-item.nav-item-questions {
    font-size: 30px;
    align-items: flex-start;
}
.nav-link.nav-link-big {
    font-size: 30px;
    display: block;
    padding: 0!important;
}
.faq-accordion-holder {
    position: relative;
    z-index: 1;
}
.faq-accordion-holder .accordion-item {
    border: none;
}
.accordion-button:not(.collapsed) {
    background-color: rgba(248, 192, 12, 0.7)!important;
}
h2.sidebar-header {
    color: #fff;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.col-md-7.map-block h1.main-cm-header {
    position: relative;
    z-index: 1;
    font-size: 25px;
    line-height: 35px;
    font-family: 'Poppins-Medium';
    background-color: rgba(255,255,255, 0.6);
    margin: 0;
    color: #000;
    padding: 30px;
    border-radius: 12px;
}

.main-attractive-points {
    position: relative;
    z-index: 1;
    padding: 30px;
    border-radius: 12px;
    padding-top: 0px;
}
.cs-white {
    background-image: url(http://localhost:5173/storage/app/public/coastal_road.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}
.cs-white.cs-white-d {
    background-size: cover;
}
.cs-white.cs-white-d .main-attractive-points h2.wcu-header{
    margin-top: 0!important;
}
.pd-0-25 {
    padding: 0 25px!important;
}
.main-attractive-points ul li {
    font-size: 20px;
    margin-top: 20px;
    color: #000;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    background-color: rgba(106, 194, 89, 0.45);
    border-radius: 12px;
    padding: 15px;
}
.main-attractive-points ul li img.dog-and-cat {
    max-width: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.main-attractive-points ul li span {
    padding-left: 10px;
}
.main-attractive-points ul {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.main-attractive-points h2.wcu-header, h2.hiw-header {
    color: #000;
    text-align: center;
    font-size: 45px;
    margin-top: 90px;
    margin-bottom: 70px;
    text-shadow: 2px 2px 4px #000;
}
h2.hiw-header {
    margin-top: 45px;
    color: #fff;
}
.cs-mid-white {
    background-image: linear-gradient(180deg, rgba(0,0,0, 0.6),rgba(0,0,0, 0.5));
    height: 100%;
}
.sidebar-new form label.form-label, .sidebar-new form label.form-check-label {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.main-cm-header-holder {
    position: relative;
    z-index: 1;
}
.main-header-container .mah-parent {

    position: absolute;
    right: 10%;
    width: 33%;
    bottom: -450px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    color: #000;
    border: 4px solid rgba(249, 170, 11, 0.7);
}
.main-header-container .mah-parent h1 {
    font-size: 27px;
    line-height: 35px;
}
.mah-phones {
    display: block;
    font-size: 50px;
    line-height: 50px;
}
.mah-phones a {
    color: #000;
    text-decoration: none;
    font-size: 40px;
}
.locale-active{
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.locale-default{

}

.locale-div svg{
    cursor: pointer;
    margin-right: 10px;
}

.svg-default{
    height: 25px;
}
.svg-light{
    color: #868686
}

.borderess {
    border-right: 1px dotted #c9c9c9;
}

.car-name-title {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.titolomezzo {
    font-size: 26px;
    font-weight: bold;
}

.prezzocol {
    text-align: right;
}

.prezzo-a-totale {
    font-size: 38px;
    color: #3c3c3c;
    text-align: right;
    font-weight: 400;
}

.div-rounded{
    border-radius: 12px;
}

.car-row{
    padding: 35px 30px 30px 30px;
}

.div-padding{
    padding: 35px 30px 30px 30px;
}

.order-status{
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.img-link{
    color: #000000;
}
.cursor-pointer{
    cursor: pointer;
}
.btn-link{
   color: #ffffff;
    background-color: rgba(0,0,0,0.7)!important;
    padding: 5px;
    margin-bottom: 20px;
    display: inline-block;
}
.btn-link:hover{
    color: #ffffff!important;
}

.select-colored{
    color: #ffffff!important;
}
.how-it-works {
    padding: 30px;
    padding-bottom: 150px;
}
.shadow.hiw-container{
    min-height: 208px;
    padding: 0!important;
    border-radius: 12px;
    background-color: #fff;
}
.hiw-img {
    width: 100%;
    height: auto;
}
.hiw-img-parent {
    height: 150px;
    overflow: hidden;
    position: relative;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.hiw-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.hiw-icon i {
    font-size: 22px;
    color: #fff;
    position: relative;
    left: 3px;
    bottom: 1px;
}
.col-md-3:last-child .hiw-container .hiw-icon {
    border: 1px solid #000;
    top: 15px;
    left: auto;
    right: 15px;
}
.col-md-3:last-child .hiw-container .hiw-icon i {
    color: #000;
}
.hiw-container h5 {
    font-size: 23px;
    padding: 15px 15px 0 15px;
}
.hiw-container p {
    font-size: 16px;
    padding: 0px 15px 15px 15px;
}
.faq-under-header {
    font-size: 23px;
}
h2.wcu-header {
    padding-top: 60px;
    color: #fff!important;
}
.custom-footer .navbar-nav {
    padding-top: 30px;
}
.col-md-12.cm-spacer {
    height: 48px;
}
.d-sidebar-header {
    text-shadow: none!important;
    font-size: 20px;
    text-transform: uppercase;
}
.cs-white-d .how-it-works, .cs-white-d .main-attractive-points {
    padding-right: 0px;
}
#map {
    border-radius: 16px;
}
/*destination page*/
#map {
    height: 600px;
    width: 100%;
}

.route_line{
    border-left: 2px solid #212121;
    margin-top: 1px;
    color: #fff;
    margin-left: 4.5px;
    height: 0%; /* Start at 0% height */
    -webkit-animation: increase 4s infinite forwards; /* Repeat the animation infinitely */
    -moz-animation: increase 4s infinite forwards;
    -o-animation: increase 4s infinite forwards;
    animation: increase 4s infinite forwards; /* Repeat the animation infinitely */
    z-index: 9;
}

.route_line_fix {
    margin-top: 1px;
    color: #fff;
    margin-left: 14px;
    position: absolute;
    z-index: 1;
    height: 80px; /* Full height */
    opacity: 0; /* Start as hidden */
    transition: opacity 1s ease; /* Transition to fade in after animation */
}

@keyframes increase {
    0% {
        height: 0%;
    }
    100% {
        height: 50px;
    }
}

.col-1:hover .route_line_fix {
    opacity: 1; /* Make it visible when hover or after animation */
}
/*destination page end*/
.whatsincluded {
    padding-top: 5px;
    display: inline-block;
}
.whatsincluded img {
    max-width: 20px;
    margin-right: 5px;
}
.d-inline-block {
    margin-right: 5px;
}
@media (max-width: 480px) {
    .main-header-container .mah-parent {
        position: static;
    }
}
