@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500; /* Optional: Set the weight to match */
    font-style: normal; /* Optional: Adjust based on the font's style */
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600; /* Optional: Set the weight to match */
    font-style: normal; /* Optional: Adjust based on the font's style */
}


body {
    background-color: #000!important;
    color: #fff!important;
}
body * {
    font-family: "Poppins-Medium";
}
.c-main-container {
    padding-top: 80px;
    padding-bottom: 80px;
}
.c-main-container .sidebar-new {
    background-color: rgba(248, 192, 12, 0.7);
    color: #000!important;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}
.navbar.navbar-expand-lg {
    background-color: rgba(0,0,0,0.7)!important;
    color: #fff!important;
    padding-top: 45px;
    padding-bottom: 45px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #000;
    margin-bottom: 0!important;
}

.c-main-container .sidebar-new form button {
    background-color: #1A1A19;
    border-color: #1A1A19;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    font-size: 25px;
}
.c-main-container .sidebar-new form select, #meeting_date, #meeting_time {
    height: 45px;
    line-height: 45px;
    background-color: #ececec;
    color: #000;
    padding-top: 0;
    padding-bottom: 0;
}
footer.custom-footer {
    padding-top: 35px!important;
    padding-bottom: 35px!important;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
    background-color: #000!important;
}
footer h5 {
    text-align: left;
}
footer .col-md-4 {
    text-align: left;
}
#address_from,#address_to {
    height: 60px;
    line-height: 60px;
    background-color: #ececec;
    color: #000;
}
.collapse.show{
    visibility: visible;
}
.navbar .container {
    position: relative;
}
.main-logo {
    width: 100%;
    max-width: 320px;
}
.navbar .container .main-logo {
    position: absolute;
    top: -66px;
}
.accordion-item:first-of-type>.accordion-header .accordion-button {
    color: #000!important;
}
.home-vid-back-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(0,0,0, 0.258),rgba(0,0,0, 0.258));
    margin-bottom: 100px;
    position: absolute;
    overflow: hidden;
    min-height: 1211px;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
}
.home-vid-back {
    position: absolute;
    overflow: hidden;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.under-nav {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(248, 192, 12, 0.7);
}
.under-nav .col-lg-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.un-icon {
    max-height: 50px;
}
.un-point {
    padding-left: 10px;
    font-size: 14px;
    font-family: "Poppins-Medium";
}
.navbar-nav .nav-item img {
    max-width: 15px;
    height: auto;
}
.navbar li.nav-item {
    display: flex;
    align-items: flex-start;
    padding: 0 20px 0 0;
    flex-direction: column;
    justify-content: flex-start;
}
.navbar a {
    color: #fff!important;
}
.special-text-under-phone {
    font-size: 12px;
    display: block;
    width: 100%;
}
.nav-item.nav-item-questions {
    font-size: 30px;
    align-items: flex-start;
}
.nav-link.nav-link-big {
    font-size: 30px;
    display: block;
    padding: 0!important;
}
.faq-accordion-holder {
    position: relative;
    z-index: 1;
}
.faq-accordion-holder .accordion-item {
    border: none;
}
.accordion-button:not(.collapsed) {
    background-color: rgba(248, 192, 12, 0.7)!important;
}
h4.sidebar-header {
    color: #fff;
}















